---
const { imageSrc, name, twitterUrl, githubUrl } = Astro.props;
import { Icon } from '@astrojs/starlight/components';
---

<div class="author-card">
  <img src={imageSrc} alt={`Image of ${name}`} class="author-image" />
  <div class="author-info">
    <h3 class="author-name">{name}</h3>
    <div class="social-links">
    {githubUrl && (
      <a href={githubUrl} target="_blank" rel="noopener noreferrer">
        <Icon name="github" />
      </a>
    )}
    {twitterUrl && (
      <a href={twitterUrl} target="_blank" rel="noopener noreferrer">
      <Icon name="x.com" />
      </a>
    )}
    </div>
  </div>
</div>

<style>
  .author-card {
    display: flex;
    align-items: center; /* Aligns items vertically */
    margin: 1rem 0;
  }
  
  .author-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    object-fit: cover; /* Ensures the image covers the area without distortion */
  }
  
  .author-info {
    margin: 0 !important; /* Removes all default margins */
    display: flex;
    flex-direction: column; /* Stack name and link vertically */
  }

 .social-links {
    display: flex; /* Align icons in a row */
    gap: 8px;
  }

  .author-name {
    font-size: 1.25rem;
    color: var(--text-color);
    margin: 0 !important; /* Removes all default margins */
    padding: 0; /* Removes default padding */
    line-height: 50px; /* Match line-height to the image height for vertical centering */
  }

</style>
